/* COLOURS            RGB VALUES */
$brown: #e7d0ae;      // 36 25 91
$green: #078b62;      // 161 95 55
$greenLight: #b4dccf; // 161 18 86
$yellow: #fde784;     // 49 48 99

@font-face {
    font-family: 'Open Dyslexic';
    src: url(../fonts/OpenDyslexic-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Dyslexic';
    src: url(../fonts/OpenDyslexic-Italic.otf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Dyslexic';
    src: url(../fonts/OpenDyslexic-Bold.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Dyslexic';
    src: url(../fonts/OpenDyslexic-BoldItalic.otf);
    font-weight: 600;
    font-style: italic;
}

*{
    font-family: 'Open Dyslexic';
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.6em;
}

p{
    font-size: 0.9em;
    margin-bottom: 0.7em;
}

.image-logo{
    margin: 1em auto;
    text-align: center;
    img {
        max-width: 125px;
    }
}

.banner-img-container{
    margin: 0 auto;
    height: 52vw;
    overflow: hidden;
    width: 100%;
    img{
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.banner-link-container{
    font-size: 0.7em;
    text-align: right;
    text-transform: uppercase;
    transform: translateY(-50%);
    .banner-link{
        background-color: $yellow;
        color: black;
        padding: 0.2em 0.5em;
        text-decoration: none;
    }
}

.collumn{
    position: relative;
}

.home-text-container{
    margin: 0 auto;
    position: relative;
    width: 90vw;
    z-index: 1;
    .home-title{
        font-size: 2.7em;
        line-height: 1.3em;
        margin: 0.7em 0;
    }
}

.home-images{
    margin-left: 10vw;
    padding-top: 2em;
    img{
        display: block;
        position: relative;
        max-width: 65vw;
    }
    .home-image-1{
        transform: translateY(2em) rotateZ(-24deg);
        z-index: 1;
    }
    .home-image-2{
        transform: translate(1.5em, -1em);
        z-index: 2;
    }
    .home-image-3{
        transform: translateY(-3.5em) rotateZ(24deg);
        z-index: 3;
    }
}

.colour-block-home{
    background-color: $yellow;
    position: absolute;
        top: -3.5em;
        bottom: 0;
    width: 60%;
}

.main-content{
    margin: 1em auto 2em;
    width: 90%;
    .event-details{
        background-image: url(../splotch-brown.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        font-size: 0.8em;
        margin: 0.5em 0 1em;
        padding: 0.5em 1.5em;
    }
    .registration-title{
        background-color: $greenLight;
        display: inline-block;
        height: 1.6em;
        margin: 2em 0 1em;
        text-transform: uppercase;
        h2{
            transform: translate(20%, -50%);
        }
    }
    .registration-link{
        display: inline-flex;
            align-items: center;
        padding-right: 0.25em;
        .link-arrrow{
            height: 1em;
            margin-left: 0.3em;
        }
    }
    a.registration-link:link, a.registration-link:visited, a.registration-link:active, a.registration-link:hover{
        color: black;
        text-decoration: none;
    }
    a.registration-link:hover, a.registration-link:active{
        background-image: url(../dash-yellow.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
}

@media only screen and (min-width: 568px) {
    
    .home-text-container{
        .home-title{
            font-size: 3em;
            max-width: 50%;
        }
    }
    
    .home-images{
        display: flex;
        margin: 0 auto;
        padding: 3.5em 0 5.5em 0;
        width: 100%;
        img{
            max-width: 33%;
            align-self: center;
        }
        .home-image-1{
            transform: translateX(3em) translateY(0) rotateZ(-10deg);
            z-index: 1;
        }
        .home-image-2{
            transform: translate(-2em, 1em) rotateZ(-10deg);
            z-index: 2;
        }
        .home-image-3{
            transform: translateX(-6em) translateY(2em) rotateZ(-10deg);
            z-index: 3;
        }
    }
}

@media only screen and (min-width: 768px) {
    
    .image-logo{
        img {
            max-width: 170px;
        }
    }
    
    .banner-link-container{
        font-size: 0.9em;
        margin-right: 2.5%;
        .banner-link{
            padding: 0.3em 0.65em;
        }
    }
    
    .home-text-container{
        .home-title{
            font-size: 3.5em;
        }
        .home-description{
            max-width: 70%;
        }
    }
    
    .main-content{
        margin: 2.5em auto 3em;
        width: 80%;
        .event-details{
            margin: 0.7em 0 1.5em;
        }
    }
    
}

@media only screen and (min-width: 1024px) {
    
    .image-logo{
        margin: 2em auto;
        img {
            max-width: 200px;
        }
    }
    
    .banner-img-container{
        height: 30vw;
        width: 60%;
        img{
        }
    }
    
    .no-link-margin{
        margin-bottom: 5em;
    }
    
    .banner-link-container{
        font-size: 1em;
        margin: 2em auto;
        transform: translateY(0);
        width: 60%;
    }
    
    .home-content{
        display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
        width: 100%;
        .collumn{
            box-sizing: border-box;
        }
        .collumn-text{
            flex-basis: 55%;
        }
        .collumn-images{
            flex-basis: 35%;
        }
        .home-text-container{
            margin: 6.5em 0 3em 0;
            position: relative;
            width: auto;
            .home-title{
                font-size: 4em;
                line-height: 1.3em;
                margin: 0.7em 0;
            }
            .home-description{
                max-width: 70%;
            }
        }
        .home-image-container{
            .home-images{
                display: block;
                margin: 0;
                padding: 0;
                width: 100%;
                img{
                    max-width: 70%;
                    align-self: center;
                }
                .home-image-1{
                    transform: translateY(3em) rotateZ(-24deg);
                    z-index: 1;
                }
                .home-image-2{
                    transform: translate(3em, -1em);
                    z-index: 2;
                }
                .home-image-3{
                    transform: translateY(-5em) rotateZ(24deg);
                    z-index: 3;
                }
            }

            .colour-block-home{
                position: absolute;
                    top: 12em;
                    right: -8em;
                    bottom: 0;
                width: 90%;
            }
        }
    }
    
    .main-content{
        margin: 3em auto 4.5em;
        width: 60%;
        .event-details{
            margin: 1em 0 2em;
        }
        .registration{
            display: flex;
            margin-top: 5.5em;
            .registration-title{
                margin: 1em 0 0 0;
                transform: rotateZ(-45deg) translateX(1em);
            }
        }
    }
    

}








/* END */