/* COLOURS            RGB VALUES */
$brown: #e7d0ae;      // 36 25 91
$green: #078b62;      // 161 95 55
$greenLight: #b4dccf; // 161 18 86
$yellow: #fde784;     // 49 48 99

@font-face {
    font-family: 'Open Dyslexic';
    src: url(../fonts/OpenDyslexic-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Dyslexic';
    src: url(../fonts/OpenDyslexic-Italic.otf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Dyslexic';
    src: url(../fonts/OpenDyslexic-Bold.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Dyslexic';
    src: url(../fonts/OpenDyslexic-BoldItalic.otf);
    font-weight: 600;
    font-style: italic;
}

*{
    font-family: 'Open Dyslexic';
    margin: 0;
    padding: 0;
}

p{
    font-size: 0.9em;
}

.image-logo{
    margin: 1em auto;
    text-align: center;
    img {
        max-width: 125px;
    }
} 

.banner-img-container{
    margin: 0 auto;
    height: 40vw;
    overflow: hidden;
    width: 100%;
    img{
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.banner-link-container{
    font-size: 0.7em;
    text-align: right;
    text-transform: uppercase;
    transform: translateY(-50%);
    .banner-link{
        background-color: $yellow;
        color: black;
        padding: 0.2em 0.5em;
        text-decoration: none;
    }
}

.collumn{
    position: relative;
}

.home-text-container{
    margin: 0 auto;
    position: relative;
    width: 90vw;
    z-index: 1;
    .home-title{
        font-size: 2.7em;
        line-height: 1.3em;
        margin: 0.7em 0;
    }
}

.home-images{
    margin-left: 10vw;
    padding-top: 2em;
    img{
        display: block;
        position: relative;
        max-width: 65vw;
    }
    .home-image-1{
        transform: translateY(2em) rotateZ(-24deg);
        z-index: 1;
    }
    .home-image-2{
        transform: translate(1.5em, -1em);
        z-index: 2;
    }
    .home-image-3{
        transform: translateY(-3.5em) rotateZ(24deg);
        z-index: 3;
    }
}

.colour-block-home{
    background-color: $yellow;
    position: absolute;
        top: -3.5em;
        bottom: 0;
    width: 60%;
}

@media only screen and (min-width: 568px) {
    
    .home-text-container{
        .home-title{
            font-size: 3em;
            max-width: 50%;
        }
    }
    
    .home-images{
        display: flex;
        margin: 0 auto;
        padding: 3.5em 0 5.5em 0;
        width: 100%;
        img{
            max-width: 33%;
            align-self: center;
        }
        .home-image-1{
            transform: translateX(3em) translateY(0) rotateZ(-10deg);
            z-index: 1;
        }
        .home-image-2{
            transform: translate(-2em, 1em) rotateZ(-10deg);
            z-index: 2;
        }
        .home-image-3{
            transform: translateX(-6em) translateY(2em) rotateZ(-10deg);
            z-index: 3;
        }
    }
}



@media only screen and (min-width: 768px) {
    
    .image-logo{
        img {
            max-width: 170px;
        }
    }
    
    .banner-link-container{
        font-size: 0.9em;
        margin-right: 2.5%;
        .banner-link{
            padding: 0.3em 0.65em;
        }
    }
    
    .home-text-container{
        .home-title{
            font-size: 3.5em;
        }
        .home-description{
            max-width: 70%;
        }
    }
    
}

@media only screen and (min-width: 1200px) {
    
    .image-logo{
        margin: 2em auto;
        img {
            max-width: 200px;
        }
    }
    
    .banner-img-container{
        height: 32vw;
        width: 80%;
        img{
        }
    }
    
    .banner-link-container{
        font-size: 1em;
        margin: 2em auto;
        transform: translateY(0);
        width: 80%;
    }
    
    .home-content{
        display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
        width: 100%;
        .collumn{
            box-sizing: border-box;
        }
        .collumn-text{
//            display: flex;
//            flex-direction: column;
//            justify-content: center;
            flex-basis: 55%;
        }
        .collumn-images{
            flex-basis: 35%;
        }
        .home-text-container{
            margin: 6.5em 0 3em 0;
            position: relative;
            width: auto;
            .home-title{
                font-size: 4em;
                line-height: 1.3em;
                margin: 0.7em 0;
            }
            .home-description{
                max-width: 70%;
            }
        }
        .home-image-container{
            .home-images{
                display: block;
                margin: 0;
                padding: 0;
                width: 100%;
                img{
                    max-width: 70%;
                    align-self: center;
                }
                .home-image-1{
                    transform: translateY(3em) rotateZ(-24deg);
                    z-index: 1;
                }
                .home-image-2{
                    transform: translate(3em, -1em);
                    z-index: 2;
                }
                .home-image-3{
                    transform: translateY(-5em) rotateZ(24deg);
                    z-index: 3;
                }
            }

            .colour-block-home{
                position: absolute;
                    top: 12em;
                    right: -8em;
                    bottom: 0;
                width: 90%;
            }
        }
    }
    

}








/* END */