/* COLOURS            RGB VALUES */
/* OLD
   $green: #078b62;      // 161 95 55
   $greenLight: #b4dccf; // 161 18 86 */
@font-face {
  font-family: 'Open Dyslexic';
  src: url(../fonts/OpenDyslexic-Regular.otf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Dyslexic';
  src: url(../fonts/OpenDyslexic-Italic.otf);
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Open Dyslexic';
  src: url(../fonts/OpenDyslexic-Bold.otf);
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Open Dyslexic';
  src: url(../fonts/OpenDyslexic-BoldItalic.otf);
  font-weight: 600;
  font-style: italic; }
* {
  font-family: 'Open Dyslexic';
  margin: 0;
  padding: 0; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.4em;
  margin-bottom: 0.2em; }

p {
  font-size: 0.9em;
  margin-bottom: 0.7em; }

.staple {
  position: absolute; }

.staple-top-left {
  top: -5px;
  left: -5px; }

.staple-top-right {
  top: -5px;
  right: -5px;
  transform: rotate(90deg); }

.staple-bottom-left {
  bottom: -5px;
  left: -5px;
  transform: rotate(-90deg); }

.staple-bottom-right {
  bottom: -5px;
  right: -5px;
  transform: rotate(180deg); }

.back-button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  -webkit-display: inline-flex;
  -webkit-align-items: center; }
  .back-button img {
    margin-right: 0.5em;
    max-height: 1em;
    max-width: 1em;
    transform: rotateZ(180deg); }

.header .image-logo {
  margin: 1em auto;
  text-align: center; }
  .header .image-logo img {
    max-height: 170px;
    max-width: 170px; }
.header .nav ul {
  list-style: none;
  text-transform: uppercase; }
  .header .nav ul li {
    display: inline-block; }
    .header .nav ul li a {
      color: black; }
    .header .nav ul li a:hover, .header .nav ul li a:active {
      background-image: url(../dash-brown.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }

.header-mobile .nav ul {
  display: flex;
  justify-content: center;
  -webkit-display: flex;
  -webkit-justify-content: center;
  font-size: 0.8em;
  padding: 0.7em 0 0; }
  .header-mobile .nav ul li {
    padding: 0 0.7em; }

.header-desktop {
  display: none; }

a:link, a:visited, a:hover, a:active {
  color: #5a917a;
  text-decoration: none; }

.banner-img-container {
  margin: 0 auto;
  height: 52vw;
  overflow: hidden;
  width: 100%; }
  .banner-img-container img {
    display: block;
    height: 100%;
    object-fit: cover;
    -ms-object-fit: cover;
    width: 100%; }

.banner-link-container {
  font-size: 0.7em;
  text-align: right;
  text-transform: uppercase;
  transform: translateY(-50%); }
  .banner-link-container .banner-link {
    background-color: #fde784;
    color: black;
    padding: 0.2em 0.5em;
    text-decoration: none; }

.collumn {
  position: relative; }

.home-text-container {
  margin: 0 auto;
  position: relative;
  width: 90vw;
  z-index: 1; }
  .home-text-container .home-title {
    font-size: 2.7em;
    line-height: 1.3em;
    margin: 0.7em 0; }

.home-images {
  margin-left: 10vw;
  padding: 0.5em 0 1em; }
  .home-images img {
    display: block;
    position: relative;
    max-width: 65vw; }
  .home-images .home-image-1 {
    transform: translateY(2em) rotateZ(-24deg);
    z-index: 1; }
  .home-images .home-image-2 {
    transform: translate(1.5em, -1em);
    z-index: 2; }
  .home-images .home-image-3 {
    transform: translateY(-3.5em) rotateZ(24deg);
    z-index: 3; }

.colour-block-home {
  background-color: #fde784;
  position: absolute;
  top: -4.5em;
  bottom: 0;
  width: 60%; }

.page-title {
  background-image: url(../dash-brown.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 30%;
  display: inline-block;
  line-height: 1.2em;
  margin: 0.3em 0 0;
  padding: 0 0.3em 0.8em 0; }

.flex-container {
  margin: 1em 0 5em; }
  .flex-container .event-row .event-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-display: flex;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    margin: -26.5vw auto 4em;
    line-height: 1.3em;
    width: 80%; }
    .flex-container .event-row .event-card .event-menu-item-staples {
      position: relative;
      transform: translateY(50%);
      z-index: 2; }
      .flex-container .event-row .event-card .event-menu-item-staples .staple {
        z-index: 3; }
    .flex-container .event-row .event-card .event-card-image-container {
      display: block;
      height: 55vw;
      overflow: hidden;
      width: 55vw; }
      .flex-container .event-row .event-card .event-card-image-container img {
        display: block;
        height: 100%;
        object-fit: cover;
        -ms-object-fit: cover;
        position: relative;
        width: 100%; }
    .flex-container .event-row .event-card .event-card-text {
      background-color: #c9e1d4;
      padding: 0 1.5em;
      padding-top: calc(26.5vw + 2em); }
      .flex-container .event-row .event-card .event-card-text .event-card-title {
        margin-bottom: 0.3em;
        text-transform: uppercase; }
      .flex-container .event-row .event-card .event-card-text .event-card-date {
        font-size: 0.8em; }
      .flex-container .event-row .event-card .event-card-text .event-card-location {
        font-size: 0.8em;
        font-style: italic; }
      .flex-container .event-row .event-card .event-card-text .event-link-wrapper .event-card-link {
        color: black;
        display: block;
        background-image: url(../dash-brown.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 0.2em;
        text-align: center;
        transform: translateY(30%); }

.no-events-text {
  color: #999;
  font-size: 0.85em;
  margin: 0 auto;
  text-align: center;
  width: 90%; }

.main-content {
  margin: 1em auto 2em;
  width: 90%; }
  .main-content .event-title {
    margin-bottom: 0.5em; }
  .main-content .event-details {
    background-image: url(../splotch-brown.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 2em;
    padding: 0.5em 1.5em; }
  .main-content .registration {
    display: flex;
    align-items: center;
    -webkit-display: flex;
    -webkit-align-items: center;
    margin: 1em 0; }
    .main-content .registration .registration-title {
      background-color: #c9e1d4;
      display: inline-block;
      height: 1.3em;
      margin: 3em 0.5em 3em 0;
      transform: rotateZ(-45deg);
      text-transform: uppercase; }
      .main-content .registration .registration-title h2 {
        font-size: 1.1em;
        transform: translate(20%, -50%); }
    .main-content .registration p {
      margin-bottom: 0.2em; }
    .main-content .registration .registration-link {
      display: inline-flex;
      align-items: center;
      -webkit-display: inline-flex;
      -webkit-align-items: center;
      padding-right: 0.25em; }
      .main-content .registration .registration-link .link-arrrow {
        height: 1em;
        margin-left: 0.3em; }
    .main-content .registration a.registration-link:link, .main-content .registration a.registration-link:visited, .main-content .registration a.registration-link:active, .main-content .registration a.registration-link:hover {
      color: black;
      text-decoration: none; }
    .main-content .registration a.registration-link:hover, .main-content .registration a.registration-link:active {
      background-image: url(../dash-yellow.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }

.about-page-content {
  margin: 1em auto 2em;
  width: 90%; }
  .about-page-content .about-image-staples {
    position: relative;
    margin: 1em auto; }
  .about-page-content img {
    display: block;
    height: auto;
    max-width: 100%;
    text-align: center; }

.add-parag-wrapper {
  background-image: url(../splotch-brown.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 98%; }

.archive-container {
  margin-top: 1em; }
  .archive-container .archive-card {
    display: block;
    margin-bottom: 2.5em; }
    .archive-container .archive-card .archive-card-image-container {
      width: calc(87vw - 10px);
      height: calc(59vw - 10px);
      position: relative; }
      .archive-container .archive-card .archive-card-image-container img {
        display: block;
        height: 100%;
        object-fit: cover;
        -ms-object-fit: cover;
        position: absolute;
        width: 100%;
        z-index: 1; }
      .archive-container .archive-card .archive-card-image-container .archive-card-colour-block {
        background-image: url(../splotch-brown.png);
        background-size: 100% 100%;
        position: relative;
        right: -10px;
        bottom: -10px;
        height: 103%;
        width: 103%; }
    .archive-container .archive-card .archive-card-title {
      color: black;
      margin-top: 1em;
      position: relative; }
  .archive-container .archive-card:nth-child(even) .archive-card-title {
    text-align: right; }

.gallery-collumn {
  padding: 0.1em 0;
  position: relative; }
  .gallery-collumn .collumn-colour-block {
    background-color: #e7d0ae;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30%;
    z-index: -1; }

.gallery-title {
  background-image: none;
  display: block;
  font-size: 1.1em;
  text-transform: uppercase; }

.gallery-container {
  display: flex;
  flex-flow: row wrap;
  -webkit-display: flex;
  -webkit-flex-flow: row wrap;
  margin-top: 1em;
  width: 100%; }
  .gallery-container .gallery-image-container {
    display: block;
    height: calc(30vw - 0.2em);
    -webkit-height: calc(30vw - 0.2em);
    margin: 0 0.1em 0.2em;
    flex-basis: calc(33% - 0.2em); }
    .gallery-container .gallery-image-container img {
      display: block;
      height: 100%;
      object-fit: cover;
      -ms-object-fit: cover;
      width: 100%; }

.modal {
  background-color: #FFF;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20; }
  .modal .colour-block-modal {
    background-color: #e7d0ae;
    height: 30%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
    transform: translateY(-100%);
    transition: 1s;
    -webkit-transform: translateY(-100%);
    -webkit-transition: 1s;
    -ms-transform: translateY(-100%);
    -ms-transition: 1s; }
  .modal .back-button {
    padding: 1rem;
    position: relative;
    z-index: 21;
    opacity: 0;
    transition: 1s;
    transition-delay: 0.5s;
    -webkit-transition: 1s;
    -webkit-transition-delay: 0.5s;
    -ms-transition: 1s;
    -ms-transition-delay: 0.5s; }
  .modal .modal-content {
    position: relative;
    z-index: 21; }
    .modal .modal-content .modal-image {
      margin: 1rem;
      max-height: 70vh;
      max-width: 100%;
      position: relative;
      text-align: center;
      opacity: 0;
      transform: translateY(-100%);
      transition: 1s;
      -webkit-transform: translateY(-100%);
      -webkit-transition: 1s;
      -ms-transform: translateY(-100%);
      -ms-transition: 1s; }
      .modal .modal-content .modal-image img {
        height: auto;
        width: auto;
        max-height: 70vh;
        max-width: 100%; }
      .modal .modal-content .modal-image .staple {
        padding: 0.4em;
        height: 1.2em;
        width: 1.2em; }
    .modal .modal-content .modal-text {
      opacity: 0;
      transform: translateY(100%);
      transition: 1s;
      -webkit-transform: translateY(100%);
      -webkit-transition: 1s;
      -ms-transform: translateY(100%);
      -ms-transition: 1s; }
    .modal .modal-content .modal-heading, .modal .modal-content .modal-blurb, .modal .modal-content .modal-author {
      padding-right: 1.5rem;
      padding-left: 1.5rem; }
    .modal .modal-content .modal-heading {
      margin-bottom: 0.3em; }
    .modal .modal-content .modal-author {
      background-color: #fde784;
      display: inline-block;
      margin-bottom: 1.5em;
      padding-top: 0.1em;
      padding-right: 0.5em;
      padding-bottom: 0.1em; }
    .modal .modal-content .modal-blurb {
      margin-bottom: 2em; }

.footer-overlay {
  background-image: url(../paper-texture.jpg);
  background-size: cover; }
  .footer-overlay .footer {
    background-color: rgba(231, 208, 174, 0.4);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    -webkit-display: flex;
    -webkit-flex-direction: column-reverse;
    -webkit-align-items: center;
    text-align: center;
    padding: 1.5em; }
    .footer-overlay .footer .email-collumn .email-text {
      margin-bottom: 0; }
      .footer-overlay .footer .email-collumn .email-text a {
        color: black; }
    .footer-overlay .footer .social-media-collumn {
      margin-bottom: 0.5em; }
      .footer-overlay .footer .social-media-collumn .contact-icon {
        margin: 0 0.5em; }
        .footer-overlay .footer .social-media-collumn .contact-icon img {
          max-height: 42px;
          max-width: 42px; }

@media only screen and (min-width: 360px) {
  .flex-container .event-row .event-card {
    max-width: 300px; }
    .flex-container .event-row .event-card .event-card-image-container {
      max-height: 200px;
      max-width: 200px; }
    .flex-container .event-row .event-card .event-card-text {
      padding-top: calc(100px + 2em);
      -webkit-padding-top: calc(100px + 2em); } }
@media only screen and (min-width: 568px) {
  .home-text-container .home-title {
    font-size: 3em;
    max-width: 50%; }

  .home-images {
    display: flex;
    margin: 0 auto;
    padding: 3.5em 0 7.5em 0;
    width: 100%; }
    .home-images img {
      max-width: 33%;
      align-self: center; }
    .home-images .home-image-1 {
      transform: translateX(3em) translateY(0) rotateZ(-10deg);
      -webkit-transform: translateX(3em) translateY(0) rotateZ(-10deg);
      -ms-transform: translateX(3em) translateY(0) rotateZ(-10deg);
      z-index: 1; }
    .home-images .home-image-2 {
      transform: translate(-2em, 1em) rotateZ(-10deg);
      -webkit-transform: translate(-2em, 1em) rotateZ(-10deg);
      -ms-transform: translate(-2em, 1em) rotateZ(-10deg);
      z-index: 2; }
    .home-images .home-image-3 {
      transform: translateX(-6em) translateY(2em) rotateZ(-10deg);
      -webkit-transform: translateX(-6em) translateY(2em) rotateZ(-10deg);
      -ms-transform: translateX(-6em) translateY(2em) rotateZ(-10deg);
      z-index: 3; }

  .archive-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    -webkit-display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    margin-top: 2em;
    width: 100%; }
    .archive-container .archive-card {
      flex-basis: calc(50% - 2em);
      -webkit-flex-basis: calc(50% - 2em);
      margin: 0 1em 2.5em; }
      .archive-container .archive-card .archive-card-image-container {
        width: calc(100% - 20px);
        -webkit-width: calc(100% - 20px);
        height: 200px;
        position: relative; }
        .archive-container .archive-card .archive-card-image-container img {
          height: 100%;
          object-fit: cover;
          -ms-object-fit: cover;
          position: absolute;
          transition: 0.8s;
          -webkit-transition: 0.8s;
          -ms-transition: 0.8s;
          width: 100%;
          z-index: 1; }
        .archive-container .archive-card .archive-card-image-container .archive-card-colour-block {
          right: -10px;
          bottom: -10px;
          height: calc(100% + 10px);
          -webkit-height: calc(100% + 10px);
          transition: 0.8s;
          -webkit-transition: 0.8s;
          -ms-transition: 0.8s;
          width: calc(100% + 10px);
          -webkit-width: calc(100% + 10px); }
      .archive-container .archive-card .archive-card-title {
        margin-top: 1.5em; }
    .archive-container .archive-card:nth-child(even) .archive-card-title {
      text-align: left; }
    .archive-container .archive-card:hover img {
      transform: translate(-3px, -3px);
      -webkit-transform: translate(-3px, -3px);
      -ms-transform: translate(-3px, -3px); }
    .archive-container .archive-card:hover .archive-card-colour-block {
      transform: translate(3px, 3px);
      -webkit-transform: translate(3px, 3px);
      -ms-transform: translate(3px, 3px); } }
@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 2em; }
    .header .image-logo img {
      max-width: 190px; }

  .header-mobile .nav ul {
    font-size: 0.9em;
    margin: 1em 0; }

  .banner-link-container {
    font-size: 0.9em;
    margin-right: 2.5%; }
    .banner-link-container .banner-link {
      padding: 0.3em 0.65em; }

  .home-text-container .home-title {
    font-size: 3.5em; }
  .home-text-container .home-description {
    max-width: 70%; }

  .no-events-text {
    width: 80%; }

  .main-content {
    margin: 2.5em auto 3em; }

  .about-page-content {
    margin: 2.5em auto 3em;
    width: 80%; }
    .about-page-content .about-image-staples {
      margin: 2em auto;
      max-width: 80%; }

  .flex-container {
    margin: 2em auto 5em;
    width: 80%; }
    .flex-container .event-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      -webkit-display: flex;
      -webkit-flex-flow: row wrap;
      -webkit-justify-content: flex-start;
      margin-top: calc(-100px);
      -webkit-margin-top: calc(-100px); }
      .flex-container .event-row .event-card {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        flex-basis: calc(45%);
        -webkit-flex-basis: calc(45%);
        font-size: 0.9em;
        margin: 0 2.5% -2em;
        max-width: none;
        width: auto; }
        .flex-container .event-row .event-card .event-card-image-container {
          position: relative;
          z-index: 1; }
        .flex-container .event-row .event-card .event-card-text {
          flex: 1 0 auto;
          padding: 0 1.5em 1.5em;
          padding-top: calc(100px + 2em);
          -webkit-padding-top: calc(100px + 2em);
          position: relative; }
          .flex-container .event-row .event-card .event-card-text .event-link-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            transition: 0.3s;
            width: 100%; }
          .flex-container .event-row .event-card .event-card-text .event-link-wrapper:hover {
            transform: scale(1.03);
            -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03); }

  .gallery-collumn .collumn-colour-block {
    width: 25%; }

  .gallery-title {
    font-size: 1.6em; }

  .gallery-container .gallery-image-container {
    height: calc(30vw - 0.8em);
    -webkit-height: calc(30vw - 0.8em);
    margin: 0 0.4em 0.8em;
    flex-basis: calc(33% - 0.8em);
    -webkit-flex-basis: calc(33% - 0.8em); }

  .modal .back-button {
    padding: 1.5rem; }
  .modal .modal-content .modal-image {
    margin: 1.5rem; }
  .modal .modal-content .modal-heading, .modal .modal-content .modal-blurb, .modal .modal-content .modal-author {
    padding-right: 3rem;
    padding-left: 3rem; }
  .modal .modal-content .modal-author {
    padding-right: 0.5em; }

  .footer-overlay .footer {
    padding: 2em; } }
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5em; }

  h2 {
    font-size: 1.8em; }

  .header {
    position: relative;
    margin: 0 auto 1em;
    width: 90%; }
    .header .image-logo {
      margin: 2em auto; }
      .header .image-logo img {
        max-width: 200px; }
    .header .nav {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
      .header .nav ul li {
        padding-left: 0.7em; }
      .header .nav ul a {
        padding: 0 0.4em; }
    .header .contact {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%); }
      .header .contact .contact-icons {
        display: flex;
        align-items: center;
        -webkit-display: flex;
        -webkit-align-items: center; }
        .header .contact .contact-icons .email-icon-wrapper {
          position: relative; }
          .header .contact .contact-icons .email-icon-wrapper .email-text {
            background-color: #fde784;
            opacity: 0;
            padding: 0.5em 0.7em;
            pointer-events: none;
            position: absolute;
            bottom: -107%;
            left: 50%;
            transform: translate(-50%, -75%);
            transition: 0.5s;
            -webkit-transform: translate(-50%, -75%);
            -webkit-transition: 0.5s;
            -ms-transform: translate(-50%, -75%);
            -ms-transition: 0.5s; }
            .header .contact .contact-icons .email-icon-wrapper .email-text a {
              color: black; }
        .header .contact .contact-icons .email-icon-wrapper:hover .email-text {
          opacity: 1;
          pointer-events: all;
          transform: translate(-50%, 0);
          -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0); }
        .header .contact .contact-icons .email-icon-wrapper:hover .email-text::before {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent #fde784 transparent; }
        .header .contact .contact-icons .contact-icon {
          margin-right: 0.7em; }
          .header .contact .contact-icons .contact-icon img {
            max-height: 42px;
            max-width: 42px;
            transition: 1s;
            -webkit-transition: 1s;
            -ms-transition: 1s; }
        .header .contact .contact-icons .contact-icon:hover img {
          transform: rotate(340deg);
          -webkit-transform: rotate(340deg);
          -ms-transform: rotate(340deg); }

  .header-mobile {
    display: none; }

  .header-desktop {
    display: inherit; }

  .banner-img-container {
    height: 30vw;
    width: 60%; }

  .no-link-margin {
    margin-bottom: 5em; }

  .banner-link-container {
    font-size: 1em;
    margin: 2em auto;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    width: 60%; }
    .banner-link-container .banner-link {
      display: inline-block;
      transform: scale(1) rotate(0);
      transition: 0.5s;
      -webkit-transform: scale(1) rotate(0);
      -webkit-transition: 0.5s;
      -ms-transform: scale(1) rotate(0);
      -ms-transition: 0.5s; }
    .banner-link-container .banner-link:hover {
      transform: scale(1.03) rotate(2deg);
      -webkit-transform: scale(1.03) rotate(2deg);
      -ms-transform: scale(1.03) rotate(2deg); }

  .home-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    -webkit-display: flex;
    -webkit-flex-direction: row-reverse;
    -webkit-justify-content: flex-start;
    width: 100%; }
    .home-content .collumn {
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
    .home-content .collumn-text {
      flex-basis: 55%;
      -webkit-flex-basis: 55%; }
    .home-content .collumn-images {
      flex-basis: 35%;
      -webkit-flex-basis: 35%; }
    .home-content .home-text-container {
      margin: 6.5em 0 3em 0;
      position: relative;
      width: auto; }
      .home-content .home-text-container .home-title {
        font-size: 4em;
        line-height: 1.3em;
        margin: 0.7em 0; }
      .home-content .home-text-container .home-description {
        max-width: 70%; }
    .home-content .home-image-container .home-images {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%; }
      .home-content .home-image-container .home-images img {
        max-width: 70%;
        align-self: center;
        -webkit-align-self: center; }
      .home-content .home-image-container .home-images .home-image-1 {
        transform: translateY(3em) rotateZ(-24deg);
        -webkit-transform: translateY(3em) rotateZ(-24deg);
        -ms-transform: translateY(3em) rotateZ(-24deg);
        z-index: 1; }
      .home-content .home-image-container .home-images .home-image-2 {
        transform: translate(3em, -1em);
        z-index: 2; }
      .home-content .home-image-container .home-images .home-image-3 {
        transform: translateY(-5em) rotateZ(24deg);
        -webkit-transform: translateY(-5em) rotateZ(24deg);
        -ms-transform: translateY(-5em) rotateZ(24deg);
        z-index: 3; }
    .home-content .home-image-container .colour-block-home {
      position: absolute;
      top: 12em;
      right: -8em;
      bottom: 0;
      width: 90%; }

  .no-events-text {
    width: 60%; }

  .main-content {
    margin: 3em auto 7em;
    width: 60%; }
    .main-content .events-content {
      margin-bottom: 6.5em; }
    .main-content .event-details {
      align-self: flex-start;
      -webkit-align-self: flex-start; }
    .main-content .registration .registration-title {
      margin: 3em 0 4em; }
      .main-content .registration .registration-title h2 {
        font-size: 1.4em; }
    .main-content .registration p {
      margin-bottom: 0.3em; }

  .events-main-content {
    margin: 3em auto 4.5em; }

  .about-page-content {
    margin: 3em auto 8em;
    width: 60%; }

  .flex-container {
    margin: 0 auto 5em;
    min-width: 900px;
    width: 60%; }
    .flex-container .event-row {
      margin-top: -75px; }
      .flex-container .event-row .event-card {
        box-sizing: border-box;
        flex-basis: calc(25%);
        -webkit-flex-basis: calc(25%);
        position: relative;
        margin: calc(-80px + 2em) 4% -2em;
        -webkit-margin: calc(-80px + 2em) 4% -2em;
        width: auto; }
        .flex-container .event-row .event-card .event-card-image-container {
          max-height: 160px;
          max-width: 160px; }
        .flex-container .event-row .event-card .event-card-text {
          padding-top: calc(75px + 2em);
          -webkit-padding-top: calc(75px + 2em); }

  .gallery-collumn {
    padding: 0;
    position: relative; }
    .gallery-collumn .collumn-colour-block {
      display: none;
      background-color: #e7d0ae;
      height: 5em;
      position: absolute;
      top: 0;
      bottom: auto;
      width: 50%;
      z-index: -1; }

  .gallery-title {
    font-size: 1.8em; }

  .gallery-container .gallery-image-container {
    height: calc(20vw - 0.8em);
    -webkit-height: calc(20vw - 0.8em);
    margin: 0 0.4em 0.8em;
    flex-basis: calc(33% - 0.8em);
    -webkit-flex-basis: calc(33% - 0.8em); }

  .modal .back-button {
    padding: 2rem; }
  .modal .modal-content .modal-image {
    padding: 2rem;
    max-height: 60vh; }
    .modal .modal-content .modal-image img {
      max-height: 60vh; }
  .modal .modal-content .modal-heading, .modal .modal-content .modal-blurb, .modal .modal-content .modal-author {
    padding-right: 4rem;
    padding-left: 4rem; }
  .modal .modal-content .modal-author {
    padding-right: 0.5em; }

  .footer-overlay {
    display: none; } }
@media only screen and (min-width: 1200px) {
  .about-page-content {
    width: 80%; }
    .about-page-content .about-content {
      width: 50%; }
    .about-page-content .about-flex {
      display: flex;
      align-items: center;
      -webkit-display: flex;
      -webkit-align-items: center;
      margin-bottom: 5em; }
    .about-page-content .about-image-staples {
      max-width: 50%;
      margin: 0 0 0 3em; }
    .about-page-content .add-parag-wrapper {
      width: 50%;
      width: calc(50% - 3em);
      -webkit-width: calc(50% - 3em); }

  .add-parag-wrapper {
    background-image: none;
    margin-top: 4.8em;
    padding-left: 2em;
    position: relative; }
    .add-parag-wrapper h2 {
      line-height: 1em;
      margin-bottom: 0.6em; }
    .add-parag-wrapper h2, .add-parag-wrapper p {
      padding-right: 3em;
      position: relative;
      z-index: 1; }
    .add-parag-wrapper .colour-block-about {
      background-color: #e7d0ae;
      position: absolute;
      top: -1.3em;
      bottom: -1.3em;
      left: 0;
      width: 75px; }

  .archive-container {
    display: flex;
    justify-content: flex-start;
    -webkit-display: flex;
    -webkit-justify-content: flex-start;
    margin-top: 2em;
    width: 100%; }
    .archive-container .archive-card {
      margin-bottom: 3em;
      flex-basis: calc(33% - 3em);
      -webkit-flex-basis: calc(33% - 3em);
      margin: 0 1.5em 3.5em; }
      .archive-container .archive-card .archive-card-image-container {
        width: calc(100% - 25px);
        -webkit-width: calc(100% - 25px);
        height: 180px;
        position: relative; }
        .archive-container .archive-card .archive-card-image-container img {
          height: 100%;
          object-fit: cover;
          -ms-object-fit: cover;
          position: absolute;
          width: 100%;
          z-index: 1; }
        .archive-container .archive-card .archive-card-image-container .archive-card-colour-block {
          right: -10px;
          bottom: -10px;
          height: calc(100% + 15px);
          width: calc(100% + 15px);
          -webkit-height: calc(100% + 15px);
          -webkit-width: calc(100% + 15px); }
      .archive-container .archive-card .archive-card-title {
        margin-top: 1.5em; }
    .archive-container .archive-card:nth-child(even) .archive-card-title {
      text-align: left; }

  .modal .colour-block-modal {
    height: 100%;
    width: 30%; }
  .modal .back-button {
    padding: 2rem; }
  .modal .modal-content {
    height: 85%;
    display: flex;
    align-items: center;
    -webkit-display: flex;
    -webkit-align-items: center; }
    .modal .modal-content .modal-text {
      flex-basis: 40%;
      -webkit-flex-basis: 40%;
      padding: 2rem; }
    .modal .modal-content .modal-image {
      flex-basis: 43%;
      -webkit-flex-basis: 43%;
      max-height: 85vh;
      padding: 0 2rem;
      margin: 0; }
      .modal .modal-content .modal-image img {
        max-height: 85vh; }
    .modal .modal-content .modal-heading, .modal .modal-content .modal-blurb, .modal .modal-content .modal-author {
      padding-right: 0;
      padding-left: 0; }
    .modal .modal-content .modal-author {
      padding-right: 0.5em;
      padding-left: 0.5em; } }
/* END */

/*# sourceMappingURL=theme-styles.css.map */
